.article {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.6rem 1rem;
}

.article img {
    display: block;
    cursor: pointer;
}

.links {
    display: flex;
    gap: 2rem;
    letter-spacing: 0.12rem;
}

.tab {
    display: none;
}

.link {
    color: var(--secondTxtcolor);
    transition: 0.3s;
}

.link:hover {
    color: rgb(90, 90, 90);
}

.link.active {
    color: var(--mainTxtColor);
    transform: scale(1.1);
}

.github {
    height: 32px;
    border-radius: 0.5rem;
    padding: 5px;
    box-sizing: border-box;
    border: 0.5px solid transparent;
    transition: 0.2s;
}

.github:hover{
    background-color: rgb(45, 45, 45);
    border-color: rgb(55, 55, 55);
}

.github img {
    height: 100%;
}

@media screen and (max-width: 620px) {
    .article {
        align-items: start;
    }

    .links {
        flex-direction: column;
        gap: 1.75rem;
        align-items: center;
    }

    .links > a:last-child {
        padding-bottom: 1rem;
    }

    .tab {
        display: inherit;
        width: 32px;
        height: 28px;
        box-sizing: border-box;
        padding: 3px;
        margin: 2px 0;
        border: 1px solid var(--darkBgBorder);
        border-radius: 0.4rem;
    }

    .hidden {
        display: none;
    }

    .flag {
        width: 83.25px;
    }
}