.presentation, .last_project, .skills, .hobbies {
    padding: 6rem 1rem;
}

.presentation_split {
    display: flex;
    align-items: center;
    gap: 3rem;
}

.presentation_split h1 {
    font-size: 2rem;
    font-weight: 500;
}

.presentation_text {
    margin: 4rem 0 3rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    color: var(--secondTxtColor);
}

.presentation_text p {
    color: var(--secondTxtColor);
}

.presentation_split img {
    max-width: 360px;
}

.presentation_split a:last-child {
    margin-left: 2rem;
    font-size: 0.85rem;
    text-decoration: underline;
}

.skill_bar {
    max-width: none;
    background-color: cornflowerblue;
    padding: 0.8rem 1rem 0.8rem 2rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.skill_bar ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 1.5rem 3rem;
    justify-content: center;
    font-size: 0.9rem;
    font-weight: 300;
}

.skill_bar a {
    text-decoration: underline;
}

.projects {
    display: flex;
    flex-direction: column;
    margin: 4rem 0;
    padding: 1rem 0;
    gap: 8rem;
}

.last_project > a {
    margin: 0 auto;
    display: block;
    width: fit-content;
}

.project_text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.project {
    display: flex;
    gap: 2rem;
}

.project.reverse {
    flex-direction: row-reverse;
}

.project > div {
    flex: 1;
}

.project_img img {
    width: 100%;
    display: block;
    border-radius: 0.75rem;
    border: 2px solid transparent;
    transition: 0.3s;
    box-sizing: border-box;
}

.project_img img:hover {
    opacity: 0.85;
    border-color: cornflowerblue;
}

.description p {
    margin-top: 1.5rem;
    text-align: justify;
    color: var(--secondTxtColor);
}

.project a {
    align-self: flex-end;
    text-decoration: underline;
    color: var(--secondTxtColor);
    font-style: italic;
}

.skills, .hobbies {
    padding-top: 0rem;
}

.skills > p, .hobbies > p {
    color: var(--secondTxtColor);
    padding: 3rem 0 2rem;
}

.hobbies_list {
    padding: 2.5rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.hobbies hr {
    background-color: var(--darkBgBorder);
    height: 2px;
    border: 0;    
}

.hobbies_list > div {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.hobbies_list img {
    max-height: 15rem;
    max-width: 100%;
    border-radius: 1rem;
    border: 2px solid var(--thirdTxtColor);
}

.hobbies img:hover {
    cursor: pointer;
    opacity: 0.7;
}

@media screen and (max-width: 1023px) {
    .presentation, .last_project, .skills, .hobbies {
        padding: 5rem 1.5rem;
    }

    .presentation_split img {
        max-width: 300px;
    }

    .projects {
        align-items: center;
    }

    .project, .project.reverse {
        flex-direction: column;
    }

    .project a {
        align-self: inherit;
        padding-top: 1.5rem;
    }

    .project_img {
        width: 75%;
        align-self: center;
    }
}

@media screen and (max-width: 769px) {
    .presentation, .last_project, .skills, .hobbies {
        padding: 4rem 2rem;
    }

    .presentation_split {
        flex-direction: column-reverse;
    }

    .presentation_split img {
        max-width: 200px;
        width: 90%;
    }
}